/* div[data-testid=stSidebarCollapsedControl]{
    padding: 0rem 1rem 0rem 0rem;
} */

/* This is a hack I found online to try to fix the broken layout while printing the app view into pdf, seems to not work  */
/* div.page-break {
        page-break-after: always;
        page-break-inside: avoid;
    } */

img[data-testid="stLogo"] {
    position: sticky;
    height: 3rem;
    padding-bottom: 10px;
    /* background-size: 200px; */
    background-repeat: no-repeat;
    /* background-position: 1000px 20px; */
}

header[data-testid=stHeader] { /*! IMPORTANT ! This here hides the streamlit runtime header, hiding unwanted interactions from users*/
    visibility: visible;
    background-image: linear-gradient(to right, #e84d0f, #1a008e);
    min-height: 5rem;
}

/* This adds a background image to the body of the streamlit app */
[data-testid="stAppViewContainer"] {
    background-image:url(https://energiaemdia.equatorialenergia.com.br/img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    /* min-width: 1152px; */
    padding-top: 5em;
}

/* This helps me style the container box where all the interaction with the app happens */
[data-testid="stMainBlockContainer"] {
    background-color: #f7f7f7;
    /* min-width: 1152px; */
    min-width: 80%;
    min-height: 50% fit-content;
    border-radius: 2rem;
    border: 3px solid #c6c9fd;
    padding: 1% 3% 10% 3%;
    border-left: 0.5rem solid #003A60 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/* This lets me manipulate the aspects of the sidebar menu */
div[data-testid="stSidebarContent"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* color: #1a008e; */
    /* background-color: #e84d0f; */
    /* visibility: hidden; */
}



/*header[data-testid=stNavSectionHeader] {
    visibility: visible;
}*/

/*
footer {/*
    visibility: visible;
    min-height: 5rem;
    content: 'Texto';
}*/

/* Styling my custom footer */
/*
a:link , a:visited{
    color: hsl(239, 100%, 70%);  theme's text color hex code at 75 percent brightness
    background-color: transparent;
    text-decoration: none;
    }
    
a:hover,  a:active {
color: #0283C3; theme's primary color
background-color: transparent;
text-decoration: underline;
}

#page-container {
    position: relative;
    min-height: 0%; was 10vh
}
*/


/*.
footer {
position: relative;
left: 0;
right: 600px;
top:450px;
bottom: 0;
width: 80%;
background-color: transparent;
color: #808080;  theme's text color hex code at 50 percent brightness
text-align: left;  you can replace 'left' with 'center' or 'right' if you want
}
*/

/* Vertical Block - Streamlit */
div.st-emotion-cache-4uzi61.e1f1d6gn0{
    border: 1px solid #6b6b6bb3;
    border-radius: 8px;
    /*box-shadow: 0 0.15rem 1.75rem 0 rgba(130, 131, 134, 0.094) !important;*/
}
/* this one changes the background color just for the textual data in the view_group and view_states pages */
#root > div:nth-child(1) > div.withScreencast > div > div > section.stMain.st-emotion-cache-bm2z3a.ea3mdgi8 > div.stMainBlockContainer.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div.stHorizontalBlock.st-emotion-cache-ocqkz7.e1f1d6gn5 > div:nth-child(1) > div > div > div > div{
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5 5 5 5;
    /*box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;*/
    background-color: #26c4fd41;
}

#root > div:nth-child(1) > div.withScreencast > div > div > section.stMain.st-emotion-cache-bm2z3a.ea3mdgi8 > div.stMainBlockContainer.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div.stHorizontalBlock.st-emotion-cache-ocqkz7.e1f1d6gn5 > div:nth-child(2) > div > div > div > div{
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5 5 5 5;
    /*box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;*/
    background-color: #fdef2641;
}

/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
background-color: #83ecfe;
border: 1px solid #c6c9fd;
padding: 5% 5% 5% 10%;
border-radius: 5px;

border-left: 0.5rem solid #1a008e !important;
box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}
/* Navi Buttons */
a[data-testid="stPageLink-NavLink"]{
    background-color: #f7f7f7;
    border: 1px solid #0901ff5d;
    border-radius: 8px;
    padding: 1% 40% 1% 40%;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/* Disabled Navi Buttons */
a.st-emotion-cache-u9ybrz.e11k5jya1{
    background-color: #e6e6e6;
    border: 1px solid #848484;
    border-radius: 8px;
    padding: 1% 40% 1% 40%;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

label.css-mkogse.e16fv1kl2 {
color: #36b9cc !important;
font-weight: 700 !important;
text-transform: uppercase !important;
}


/* Move block container higher
div.block-container.css-18e3th9.egzxvld2 {
margin-top: -5em;
} */


/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
display: none;
}

footer.css-ipbk5a.egzxvld4 {
display: none;
}

footer.css-12gp8ed.eknhn3m4 {
display: none;
}

div.vg-tooltip-element {
display: none;
}
